<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lee_ting_ying_project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4CJHd6P91MuqoWopq8vc-SPOLQ8zV09k"/>
    </application>
</manifest>
